.top-buffer { margin-top:20px; }

.small-buffer { margin-top:8px; }

body{
  background-image: url("images/architecture-buildings-city-373965.jpg");
  color:#fff;
}

h1{
  color:white;
}

h2{
  color:white;
}

h3{
  color:white;
}

table#game_board{
  margin:auto;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  padding: 5px;
}

table#game_board td{
  margin:auto;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 2px;
}
#messages p{
  margin:0px;
}

td.hovered_over:hover {
  background:url("images/hover.gif");
  background-size: 100% 100%;
}

.emptyGif{
   z-index: -1; position:relative;
}

.center_div{
    margin: 0 auto;
    width:50%
}
#whitesum{
  color:white;
}
#blacksum{
  color:white;
}
